/* style.css */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: linear-gradient(to bottom, #4caf50, #2e7d32);
}

.button {
    -fx-background-color: #6ab1f0;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #454749;
    -fx-font-weight: bold;
}

#resultLabel {
    -fx-font-size: 36px;
    -fx-text-fill: #bf6624;
}

.table-view {
    -fx-background-color: #98FB98;
}

.text-field, .password-field {
    -fx-background-color: #F0FFF0;
}

.tab-pane .tab-header-area {
    -fx-background-color: #3CB371;
}

.tab-pane .tab-header-area .tab {
    -fx-text-fill: #000;
}

.menu-bar {
    -fx-background-color: #3CB371;
}

.menu-bar .menu {
    -fx-text-fill: #212020;
}
